body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 40px 0;
  letter-spacing: 2px;
}

#input {
  width: 80%;
  text-align: center;
  height: 100px;
}
input,
#input > button {
  font-size: 20px;
  border-radius: 7px;
}

input {
  width: 14%;
  padding: 10px 15px;
  margin-right: 10px;
  border: 2px solid #e5c3bc;
  transition: width 1s;
  transition-delay: 0.6ms;
}

input:focus {
  width: 18%;
}

#input > button {
  color: white;
  border: solid;
  padding: 12px 15px;
  background-color: #e5c3bc;
  cursor: pointer;
}

#input > button:hover {
  animation: change 0.6s ease-in-out infinite alternate;
}

@keyframes change {
  from {
    padding: 12px 15px;
    background-color: #e5c3bc;
  }
  to {
    padding: 12px 17px;
    background-color: #e1998b;
  }
}

#main-content {
  height: 500px;
  width: 80%;
}
